This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'RgU5HrQSr4JhqtLFmTfV'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import numpy as np
import pandas as pd
from requests.auth import HTTPBasicAuth
import requests
import json
from pandas.io.json import json_normalize

In [3]:
def pull_data(url):
    headers = {"Accept": "application/json"}
    auth = HTTPBasicAuth('apikey', API_KEY)
    req = requests.get(url, headers=headers , auth=auth)
    json_obj = None
    if req.status_code == 200:
        json_obj = req.json()
    return json_obj

In [4]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = "https://api.boerse-frankfurt.de/data/price_history?limit=50&offset=0&isin=DE0005313704&mic=XETR&minDate=2020-02-28&maxDate=2020-03-13"
json_obj = pull_data(url)

In [5]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
print(json.dumps(json_obj, indent=2))

{
  "isin": "DE0005313704",
  "data": [
    {
      "date": "2020-03-13",
      "open": 77.75,
      "close": 78.85,
      "high": 84.05,
      "low": 76.85,
      "turnoverPieces": 457906,
      "turnoverEuro": 36529317.4
    },
    {
      "date": "2020-03-12",
      "open": 77.75,
      "close": 76.45,
      "high": 81.65,
      "low": 75.8,
      "turnoverPieces": 428846,
      "turnoverEuro": 33545984.85
    },
    {
      "date": "2020-03-11",
      "open": 87.6,
      "close": 84.3,
      "high": 88.45,
      "low": 83.85,
      "turnoverPieces": 250339,
      "turnoverEuro": 21276696.5
    },
    {
      "date": "2020-03-10",
      "open": 88.25,
      "close": 86.8,
      "high": 90.3,
      "low": 86,
      "turnoverPieces": 324702,
      "turnoverEuro": 28663267.75
    },
    {
      "date": "2020-03-09",
      "open": 87.65,
      "close": 87.2,
      "high": 92.15,
      "low": 85.1,
      "turnoverPieces": 392049,
      "turnoverEuro": 34832184.95
    },
    {
      "date": "2020-03-06",
      "open": 95,
      "close": 94.15,
      "high": 95.1,
      "low": 91.9,
      "turnoverPieces": 211996,
      "turnoverEuro": 19868077.2
    },
    {
      "date": "2020-03-05",
      "open": 101.3,
      "close": 97.2,
      "high": 102.6,
      "low": 96.35,
      "turnoverPieces": 230406,
      "turnoverEuro": 22585334.7
    },
    {
      "date": "2020-03-04",
      "open": 98.3,
      "close": 100.1,
      "high": 100.5,
      "low": 97.55,
      "turnoverPieces": 251085,
      "turnoverEuro": 24993655.35
    },
    {
      "date": "2020-03-03",
      "open": 97.1,
      "close": 98.05,
      "high": 99.9,
      "low": 95.55,
      "turnoverPieces": 435677,
      "turnoverEuro": 42953287
    },
    {
      "date": "2020-03-02",
      "open": 96.5,
      "close": 95.05,
      "high": 98.3,
      "low": 93.55,
      "turnoverPieces": 285867,
      "turnoverEuro": 27318381.65
    },
    {
      "date": "2020-02-28",
      "open": 90.05,
      "close": 94.75,
      "high": 94.75,
      "low": 89.65,
      "turnoverPieces": 468539,
      "turnoverEuro": 43691138.55
    }
  ],
  "totalCount": 11,
  "tradedInPercent": false
}

In [6]:
#Get All Data and load into DataFrame
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json"
json_obj_all = pull_data(url)
column_names = json_normalize(json_obj_all, ['dataset','column_names'])[0]
df_CarlZeiss = json_normalize(json_obj_all, ['dataset','data'])
df_CarlZeiss.columns = column_names
df_CarlZeiss.Date = pd.to_datetime(df_CarlZeiss.Date)
df_CarlZeiss_2017 = df_CarlZeiss[df_CarlZeiss.Date.dt.year == 2017]
df_CarlZeiss_2017

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
544,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,NaN
545,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,NaN
546,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,NaN
547,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,NaN
548,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
794,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN
795,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
796,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
797,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
798,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

### 1) Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [7]:
url = "https://api.boerse-frankfurt.de/data/price_history?limit=365&offset=0&isin=DE0005313704&mic=XETR&minDate=2017-01-01&maxDate=2017-12-31"
json_obj = pull_data(url)
print(len(json_obj['data']))
json_normalize(json_obj, 'data').sort_values('date').tail(31)

252

          date    open   close    high     low  turnoverPieces  turnoverEuro
30  2017-11-15  47.975  47.045  48.010  46.745           67593    3188320.50
29  2017-11-16  47.085  47.030  47.230  46.545           89373    4195732.50
28  2017-11-17  47.025  46.835  47.145  46.800           54107    2540820.25
27  2017-11-20  46.570  47.035  47.375  46.540           97252    4563515.50
26  2017-11-21  47.245  48.385  48.590  46.775           78502    3782098.00
25  2017-11-22  48.400  48.800  49.605  48.385           91142    4478093.00
24  2017-11-23  48.800  49.200  49.455  48.445           38834    1909351.63
23  2017-11-24  49.105  49.105  49.410  48.870           50350    2472841.75
22  2017-11-27  49.125  49.200  49.730  48.955          102180    5055762.00
21  2017-11-28  49.090  49.250  49.890  49.030           42669    2107358.25
20  2017-11-29  49.635  48.750  49.635  48.695           67342    3292223.00
19  2017-11-30  48.635  49.700  49.835  48.280          123019    6085171.50
18  2017-12-01  49.520  49.855  50.490  49.165          101733    5065931.50
17  2017-12-04  49.500  51.140  51.230  49.500           94385    4796473.41
16  2017-12-05  51.210  51.250  51.380  50.400           83023    4231970.50
15  2017-12-06  50.800  50.890  51.110  50.390           88730    4504075.50
14  2017-12-07  50.890  51.470  51.470  50.810           48123    2463848.00
13  2017-12-08  51.500  52.120  52.830  51.280          109157    5690648.50
12  2017-12-11  52.280  52.140  52.450  51.260           71817    3724192.75
11  2017-12-12  52.290  52.430  53.100  51.820           87911    4615923.50
10  2017-12-13  52.640  53.090  53.350  52.480          128434    6801159.00
9   2017-12-14  53.110  52.670  53.540  52.150          132981    7016952.50
8   2017-12-15  52.700  52.010  52.700  51.640          204080   10596319.00
7   2017-12-18  52.370  52.620  52.750  51.610          129733    6770498.50
6   2017-12-19  52.730  51.660  52.730  51.070          137313    7102360.50
5   2017-12-20  51.880  51.270  52.040  51.200           50587    2610257.50
4   2017-12-21  51.160  51.400  51.520  50.900          120649    6179432.50
3   2017-12-22  51.050  51.320  51.500  50.920           71165    3641948.50
2   2017-12-27  51.450  51.820  51.890  50.760           57452    2957017.75
1   2017-12-28  51.650  51.600  51.820  51.430           40660    2099024.25
0   2017-12-29  51.760  51.760  51.940  51.450           34640    1792304.50

### 2) Convert the returned JSON object into a Python dictionary.

In [8]:
# Not sure I follow this question.  Assume it will be a nested dict {date:{prop:value}}
data_by_dates = {}
for day in json_obj['data']:
    date = day.pop('date')
    data_by_dates[date] = day

### 3) Calculate what the highest and lowest opening prices were for the stock in this period.

In [9]:
min_open = min([v['open'] for k,v in data_by_dates.items()])
max_open = max([v['open'] for k,v in data_by_dates.items()])
min_open_date = min([k for k,v in data_by_dates.items() if v['open'] == min_open]) #return first date if more then 1
max_open_date = min([k for k,v in data_by_dates.items() if v['open'] == max_open]) #return first date if more then 1
print('Lowest opening price was on {} and opened at {}'.format(min_open_date, min_open))
print('Highest opening price was on {} and opened at {}'.format(max_open_date, max_open))

Lowest opening price was on 2017-01-24 and opened at 34
Highest opening price was on 2017-12-14 and opened at 53.11

### 4) What was the largest change in any one day (based on High and Low price)?

In [10]:
min_delta = min([v['high'] - v['low'] for k,v in data_by_dates.items()])
max_delta = max([v['high'] - v['low'] for k,v in data_by_dates.items()])
min_delta_date = min([k for k,v in data_by_dates.items() if v['high'] - v['low'] == min_delta])
max_delta_date = min([k for k,v in data_by_dates.items() if v['high'] - v['low'] == max_delta])
print('Lowest intra-day price difference was on {} and opened at {:.4f}'.format(min_delta_date, min_delta))
print('Highest intra-day price difference  was on {} and opened at {:.4f}'.format(max_delta_date, max_delta))

Lowest intra-day price difference was on 2017-09-08 and opened at 0.1850
Highest intra-day price difference  was on 2017-05-11 and opened at 2.8100

### 5) What was the largest change between any two days (based on Closing Price)?

In [11]:
previous_close = -1
max_close_change = 0
max_clost_change_date = '1/1/2017'
for day in sorted(data_by_dates.keys()):
    current_close = data_by_dates[day]['close']
    if previous_close == -1:
        max_clost_change_date = day
        previous_close = current_close
    else:
        if np.abs(current_close - previous_close) > max_close_change:
            max_close_change = current_close - previous_close
            max_clost_change_date = day
        
        previous_close = current_close
print('Biggest change in closing prices (up or down) as on {} and with a change of {:.4f}'
      .format(max_clost_change_date, max_close_change))

Biggest change in closing prices (up or down) as on 2017-09-28 and with a change of 1.5200

### 6) What was the average daily trading volume during this year?

In [12]:
mean_volumn = np.mean([v['turnoverPieces'] for k,v in data_by_dates.items()])
print('The mean trading volume for 2017 was {:,.0f}'.format(mean_volumn))

The mean trading volume for 2017 was 92,577

### 7) (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [13]:
median_volumn = np.median([v['turnoverPieces'] for k,v in data_by_dates.items()])
print('The median trading volume for 2017 was {:,.0f}'.format(median_volumn))

The median trading volume for 2017 was 78,178